<!doctype>
<html>
<head>
    <script src="js/angular.js"></script>
    <script src="js/filtercontroller.js"></script>
    <link rel="stylesheet" href="css/style1.css">
</head>
<body ng-app="myApplication" ng-controller="filtercontroller">
<!--    Select The Row:-<input type="number" min="0" max="5" ng-model="limitRow">-->
        Search:<input type="text" placeholder="Search Employee" ng-model="searchEmp.name">
    <br><br>
    <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>City</th>
           
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="empdata in employees | filter:searchEmp">
                <td>{{empdata.name}}</td>
                <td>{{empdata.gender}}</td>
                <td>{{empdata.salary}}</td>
                <td>{{empdata.city}}</td>
            
            </tr>
        
        </tbody>
    </table>
</body >
</html>